html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  /* background-color: #f2f2f2; */
  text-align: justify;
}

#content {
  margin-bottom: 80px !important;
}

.input-group {
  max-height: 40px;
}

.footer {
  position: absolute;
  height: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  text-align: center;
}

.card-primary {
  margin-top: 20px;
}

.btn-padding {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.white-bg {
  background-color: white;
}

.text-secondary {
  color: black !important;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.no-border {
  border: none !important;
}

.card {
  border-radius: 0%;
}

.border-bottom {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}

.bg-light {
  background-color: #fbfbfb !important;
}

.action-icon {
  width: 20px;
  cursor: pointer;
}

.question-desc-text {
  font-size: 0.8em; 
}

.fa-sm {
  font-size: 12px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}