<ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between align-items-center no-border bg-light">
      <span class="upper bold text-secondary">Filters:</span>
    </li>
  <li class="list-group-item d-flex justify-content-between align-items-center text-warning no-border bg-light">
    <span>
      <i class="fas fa-globe"></i>  
      <a href="#" class="bold text-primary">
        <span class="ml-1">All Questions</span>
      </a>
    </span>
    <span class="badge badge-primary badge-primary">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center text-warning bold no-border bg-light">
    <span>
      <i class="fas fa-fire"></i>  
      <a href="#" class="bold text-primary">
        <span class="ml-1">Most Popular</span>
      </a>
    </span>
    <span class="badge badge-primary badge-primary">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center text-warning bold no-border bg-light">
    <span>
      <i class="fas fa-thumbs-up"></i>
      <a href="#" class="bold text-primary">
        <span class="ml-1">Solved</span>
      </a>
    </span>
    <span class="badge badge-primary badge-primary">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center text-warning bold no-border bg-light">
    <span>
      <i class="fas fa-question-circle"></i>
      <a href="#" class="bold text-primary">
        <span class="ml-1">Unsolved</span>
      </a>
    </span>
    <span class="badge badge-primary badge-primary">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center text-warning bold no-border bg-light">
    <span>
      <i class="far fa-lightbulb"></i>
      <a href="#" class="bold text-primary">
        <span class="ml-1">No Replies</span>
      </a>
    </span>
    <span class="badge badge-primary badge-primary">1</span>
  </li>
</ul>