<ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between align-items-center no-border">
      <span class="upper bold">Filters:</span>
    </li>
  <li class="list-group-item d-flex justify-content-between align-items-center no-border">
    <span>
      <i class="fas fa-globe"></i>  
      <a href="{% url 'index' %}" class="bold">
        <span class="ml-1 bold">All Questions</span>
      </a>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center bold no-border">
    <span>
      <i class="fas fa-fire"></i>  
      <a href="{% url 'index' %}?popular=1" class="bold">
        <span class="ml-1 bold">Most Popular</span>
      </a>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center bold no-border">
    <span>
      <i class="fas fa-thumbs-up"></i>
      <a href="{% url 'index' %}?solved=1" class="bold">
        <span class="ml-1 bold">Solved</span>
      </a>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center bold no-border">
    <span>
      <i class="fas fa-question-circle"></i>
      <a href="{% url 'index' %}?solved=0" class="bold">
        <span class="ml-1 bold">Unsolved</span>
      </a>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center bold no-border">
    <span>
      <i class="far fa-lightbulb"></i>
      <a href="{% url 'index' %}?noreplies=1" class="bold">
        <span class="ml-1 bold">No Replies</span>
      </a>
    </span>
  </li>
</ul>