{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %} | Welcome {% endblock %}

{% block content %}

  <div class="card card-primary">
    <div class="card-header">
      <h4>{{ question.title }}</h4>
    </div>
    <div class="card-body">
      <p>
        {{ question.content }}
      </p>
    </div>
  </div>

  {% for reply in question.replies.all %}
    <div class="card card-primary">
      <div class="card-header">
        <p>{{ reply.creator }} replied:</p>
      </div>
      <div class="card-body">
        <p>
          {{ reply.content }}
        </p>
      </div>
    </div>
  {% endfor %}

  {% if request.user.is_authenticated %}
    <div class="card card-primary">
      <div class="card-body">
        <form action="" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  {% else %}
    <div class="text-center" style="margin-top: 40px;">
      Please <a href="{% url 'login' %}">login</a> in order to reply.
    </div>
  {% endif %}

{% endblock %}
